<a href="https://colab.research.google.com/github/ks-yahagi/EU_M_Math-Repository/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pandas import Series,DataFrame
import pandas as pd

attri_data1 = {'ID':['1','2','3','4','5'],
               'Sex':['F','F','M','M','M'],
               'Money':[1000,2000,500,300,700],
               'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}
attri_data_frame1= DataFrame(attri_data1)

attri_data2 = {'ID':['3','4','7'],
               'Math':[60,30,40],
               'English':[80,20,30]}
attri_data_frame2 = DataFrame(attri_data2)

#解答を確認
merge_data = attri_data_frame1.merge(attri_data_frame2)
merge_data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID          17.0
Money      400.0
Math        45.0
English     50.0
dtype: float64